{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : -2,
      "type" : "background",
      "fileHeader" : "/interface/scripted/gprotectorate_augmenter/header.png",
      "fileBody" : "/interface/scripted/gprotectorate_augmenter/body.png",
      "fileFooter" : "/interface/scripted/gprotectorate_augmenter/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " Protectorate Augmenter",
      "subtitle" : " Adapt your Protectorate weapon!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/gprotectorate_augmenter/icon.png"
      }
    },

	//Close interface button
	"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [176, 168]
    },

	//Informational text fields
	"infoLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [6, 149],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Use modules to adapt Protector weapons"
    },
	"bodyOverlay" : {
      "type" : "image",
      "file" : "/interface/scripted/gprotectorate_augmenter/bodyoverlay.png",
      "zlevel" : 2
    },
	"itemElementImage" : {
      "type" : "image",
      "file" : "/interface/scripted/gprotectorate_augmenter/noelement.png",
      "position" : [47, 106],
      "zlevel" : -3
    },
	"moduleElementImage" : {
      "type" : "image",
      "file" : "/interface/scripted/gprotectorate_augmenter/noelement.png",
      "position" : [130, 106],
      "zlevel" : -3
    },
	
	"essenceLabel" : {
      "type" : "label",
      "zlevel" : 5,
      "position" : [86, 106],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : ""
    },
	
	//Scripted buttons
    "btnAugment" : {
      "type" : "button",
      "position" : [69, 27],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Augment",
      "callback" : "attemptAugment"
    },

	//Item grids
	//Slots 1: Augmentable item
    "itemSlot" : {
      "type" : "itemslot",
	  "showRarity" : true,
      "position" : [67, 105],
      "dimensions" : [1, 1],
      "spacing" : [0, 0],
      "backingImage" : "/interface/inventory/empty.png",
	  "callback" : "swapHeldItem1",
	  "rightClickCallback":"swapHeldItem1"
    },
	//Slots 1: Module
    "itemSlot2" : {
      "type" : "itemslot",
	  "showRarity" : true,
      "position" : [107, 105],
      "dimensions" : [1, 1],
      "spacing" : [0, 0],
      "backingImage" : "/interface/inventory/empty.png",
	  "callback" : "swapHeldItem2",
	  "rightClickCallback":"swapHeldItem2"
    },
	//Slot 3: Augmented item
    "itemSlot3" : {
      "type" : "itemslot",
	  "showRarity" : true,
      "position" : [87, 53],
      "dimensions" : [1, 1],
      "spacing" : [0, 0],
      "zlevel" : 15,
      "backingImage" : "/interface/inventory/empty.png",
	  "callback" : "swapHeldItem3",
	  "rightClickCallback":"swapHeldItem3"
    }
  },

  "scriptWidgetCallbacks" : [
    "swapHeldItem1",
    "swapHeldItem2",
    "swapHeldItem3",
    "attemptAugment"
  ],
  "noElementImage" : "/interface/scripted/gprotectorate_augmenter/noelement.png",
  "randElementImage" : "/interface/scripted/gprotectorate_augmenter/randelement.png",

  "scripts" : ["/interface/scripted/gprotectorate_augmenter/gprotectorate_augmenter.lua"],
  "scriptDelta" : 1
}
